<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Hi,</h2>
    <p>
      Hi <%= @user %>
      Get your mother f**cking <%=@item.name%> out of the fridge now!!!!!
    </p>
  </body>
</html>
